@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Chathura&family=Montserrat:ital,wght@0,400;1,200;1,300;1,400&family=Noto+Sans+KR:wght@300;400&display=swap');@import url('https://fonts.googleapis.com/css2?family=Chathura&family=Montserrat:ital,wght@0,400;1,200;1,300;1,400&display=swap');@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Montserrat:ital,wght@0,400;1,200;1,300;1,400&display=swap');@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Major+Mono+Display&family=Montserrat:ital,wght@0,400;1,200&family=Syncopate:wght@700&family=Zen+Tokyo+Zoo&display=swap');
@font-face {
    font-family: 'Cafe24Decobox';
    src: url(../font/Cafe24Decobox.woff);
    src: url(../font/Cafe24Decoschool.woff);
    src: url(../font/Cafe24Decoshadow.woff);
    src: url(../font/ttf.woff);
}
:root{

    /* animation */
    --animation-duration: 300ms;
}

*{
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    /* font-family: 'Chathura', sans-serif;
    font-family: 'Montserrat', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}
header, section, nav, article, main, aside, footer{
    display: block;
}
header:after, section:after, nav:after, article:after, main:after, aside:after, footer:after{
    content: "";
    display: block;
    clear: both;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
ul, ol, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}
body{}
main{
    background-color: #eee;
    overflow: hidden;
}
span{
    font-weight: bold;
    font-size: 18px;
}



/* menu box */



#header{
    width: 100%;
    z-index: 5;
    padding: 15px;
    position: fixed;
    background-color: #eee;
}
#header .logo{
    float: left;
    line-height: 1;
    margin-left: 50px;
}
#header .logo a{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #323232;
    font-family: 'Chathura', sans-serif;
}
#header .logo a:hover{
    color: #2e75b6;
}
#header .menu{}
#header .menu ul{
    float: right;
    font-size: 0;
}
#header .menu ul li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}
#header .menu ul li a{
    display: block; 
    font-size: 40px;
    line-height: 1;
    color: #323232;
    font-family: 'Chathura', sans-serif;
}
#header .menu ul li:hover a{
    color: #5981b1;
}
#header .menu ul li.active a{
    color: #5981b1;
}

/* home part */

#home{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#home .coding_mp4{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    z-index: 2;
}  
#home .coding_mp4 video{
    width: 150%;
    height: 100vh;
}
#home .title_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-85%, -50%);
    width: 70%;
    background-color: rgba(130,130,130,0.88);
    text-align: left;
    color: #fff;
    padding: 70px 0;
    border-radius: 500px;
    z-index: 3;
}
#home .title_box .txt_box{
    margin-left: 20%;
}
#home .title_box .txt_box h2{
    font-size: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    transition: all 1.8s;
}
#home .title_box .txt_box .p_box p{
    font-size: 20px;
    font-weight: 100;
    padding-left: 20px;
}
#home .title_box .txt_box .p_box{
    transition: all 2s;
}


/* about_me */

#about_me{
    margin-top: 15rem;
    height: 1000px;
    background-image: url(../img/AdobeStock_311311998.png);
    background-position: 50% 20%;
    background-size: cover;
    position: relative;
}
#about_me .wrap{
    width: 80%;
    height: auto;
    margin: 0 auto;
}
#about_me .wrap .cont_title{
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}
#about_me .wrap .cont_title h2{}
#about_me .wrap .cont_title .title_circle{
    width: 400px;
    height: 170px;
    border-radius: 150px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
#about_me .wrap .cont_title .title_circle:hover{
    transform: scale(1.05);
    transition: transform 0.5s, background-color 0.5s;
    background-color: rgba(190,190,190);
}
#about_me .wrap .cont{}
#about_me .wrap .cont .cont_wrap{}

/* skill contents_part */

#about_me .wrap .cont .cont_wrap li{
    opacity: 0;
    transition: opacity 0.5s;
}
#about_me .wrap .cont .cont_wrap li.event{
    opacity: 1;
    position: static;
}
#about_me .wrap .cont .cont_wrap li .skill_part{
    padding-top: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#about_me .wrap .cont .cont_wrap li .skill_part .skill_txt p{
    color: #fff;
    font-size: 24px;
    padding-bottom: 3rem;
    word-break: keep-all;
    text-shadow: 2px 2px 6px black;
}
#about_me .wrap .cont .cont_wrap li .skill_part .skill_cont{
    display: inline-block;
    width: 70%;
    text-align: center;
    font-size: 15px;
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box{
    display: inline-block;
    width: 200px;
    height: 200px;
    position: relative;
    flex-wrap: wrap;
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box .myskill_cont{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box .myskill_cont .top{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 16px rgba(0,0,0,0.3);
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box .myskill_cont .top .num{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box .myskill_cont .top .num h2{
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 6px black;
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box .myskill_cont .top .num h2 .count{
    color: #fff;
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box .myskill_cont .bottom{
    padding-top: 10px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 6px black;
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 3;
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: rgba(0,0,0,0.2);
    stroke-width: 10;
    transform: translate(5px, 5px);
}
#about_me .wrap .cont .cont_wrap li .skill_cont .myskill_box svg circle:nth-child(2){
    stroke-linecap: butt;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke: #eee;
    transition: stroke-dashoffset 2s;
}


/* about me vision_part */

#about_me .wrap .cont .cont_wrap li .vision_part{
    padding-top: 11rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#about_me .wrap .cont .cont_wrap li .vision_part .vision_txt{
    z-index: 1;
}
#about_me .wrap .cont .cont_wrap li .vision_part .vision_txt p{
    color: #fff;
    font-size: 24px;
    padding-bottom: 2rem;
    text-shadow: 2px 2px 6px black;
}
#about_me .wrap .cont .cont_wrap li .vision_part .vision_txt p:nth-of-type(2){
    font-size: 30px;
}
#about_me .wrap .cont .cont_wrap li .vision_part .vision_txt span{
    font-size: 30px;
    font-weight: bold;
}
#about_me .wrap .cont .cont_wrap li .vision_part .vision_icon{
    background-image: url(../img/vision_icon.png);
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: -1;
}
/* about me career_part */

#about_me .wrap .cont .cont_wrap li .career_part{
    padding-top: 9rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#about_me .wrap .cont .cont_wrap li .career_part .career_txt{
    z-index: 1;
}
#about_me .wrap .cont .cont_wrap li .career_part .career_txt p{
    color: #fff;
    font-size: 24px;
    text-shadow: 2px 2px 6px black;
    padding-bottom: 2rem;
}
#about_me .wrap .cont .cont_wrap li .career_part .career_icon{
    background-image: url(../img/career_icon2.png);
    width: 380px;
    height: 380px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: -1;
}


/******** work part ********/



#work{
    width: 100%;
    background-color: #eee;
    position: relative;
    text-align: center;
    z-index: 1;
}
#work .work_title{
    width: 400px;
    height: 170px;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin: 0 auto;
    margin-bottom: 100px;
}

#work .work_title h2{}
#work .wrap{
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}
#work .wrap .slider{
    width: 30%;
    margin: 0 auto;
}
#work .wrap .slider ul{
    display: flex;
    width: 800%;
    height: 100%;
    margin-left: -200%;
}
#work .wrap .slider ul li{
    width: 20%;
    height: 100%;
    margin-left: 60px;
    transition: transform 0.5s;
}
#work .wrap .slider ul li.active{
    transform: scale(1.13);
    z-index: 9;
}
#work .wrap .slider .slider_cont{
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 2px;
}

#work .wrap .slider .slider_cont .slider_img{
    width: 100%;
    height: 100%;
    padding: 10px;
}
#work .wrap .slider .slider_cont .txt_part{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transform: translateY(-10px);
    transition: all var(--animation-duration);
}
#work .wrap .slider .slider_cont:hover .txt_part{
    opacity: 0.8;
    transform: translateY(0px);
}
#work .wrap .slider .slider_cont .txt_part h2{
    color: #fff;
    font-size: 25px;
    padding-bottom: 20px;
}
#work .wrap .slider .slider_cont .txt_part h2:after{
    position: relative;
    content: "";
    display: block;
    width: 125px;
    height: 2px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
    background-color: #fff;
}
#work .wrap .slider .slider_cont .txt_part P{
    color: #fff;
    font-size: 19px;
    word-break: keep-all;
    padding-bottom: 30px;
}
#work .wrap .slider .slider_cont .txt_part span{
    width: 150px;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: #000;
}
#work .wrap .slider .slider_cont .txt_part .visit:hover{
    color: #eee;
    background-color: #5981b1;
    transition: background-color 0.5s;
}


#work .slider .ca{
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    opacity: 0;
    transition: opacity 0.5s, left 0.5s, right 0.5s;
}
#work .slider .ca img{
    width: 60px;
    height: 130px;
}
#work .slider.hover .prev{
    left: 40px;
    opacity: 1;
}
#work .slider.hover .next{
    right: 40px;
    opacity: 1;
}

.custom-shape-divider-top-1637859197 .shape-fill {
    fill: #EEEEEE;
}

/* bottom */

.custom-shape-divider-bottom-1637856047 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1637856047 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 181px;
}

.custom-shape-divider-bottom-1637856047 .shape-fill {
    fill: #708a99;
}
/* contact part*/

#contact{
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
    background: #708a99;
}
#contact .wrap{
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
}
#contact .cont_title{}
#contact .cont_title h2{
    font-size: 50px;
    font-family: 'Chathura', sans-serif;
    color: #fff;
}
#contact .wrap form{
    width: 100%;
    height: 500px;
    background-image: url(../img/AdobeStock_276211407.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}
#contact .wrap form::before, #contact .wrap form::after{
    content: "";
    width: 40px;
    height: 40px;
    background: #708a99;
    border-radius: 50%;
    position: absolute;
    right: -20px;
}
#contact .wrap form::before{
    top: -20px;
    z-index: 5;
}
#contact .wrap form::after{
    bottom: -20px;
}

#contact .wrap form .mail_left .mail_img{
    background-image: url(../img/myimg3.jpg);
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    width: 340px;
    height: 415px;
    transform: translate(9%, 10%);
    
    /* border-color:linear-gradient(180deg, rgba(152,186,227,1) 0%, rgba(54,84,117,1) 58%, rgba(21,39,60,1) 100%); 
    이따가
    */
}
#contact .wrap form .mail_left::before, #contact .wrap form .mail_left::after{
    content: "";
    width: 40px;
    height: 40px;
    background: #708a99;
    border-radius: 50%;
    position: absolute;
    left: -20px;
}
#contact .wrap form .mail_left::before{
    top: -20px;
}
#contact .wrap form .mail_left::after{
    bottom: -20px;
}
#contact .wrap form .mail_right{
    width: 74%;
    height: 100%;
    background-image: url(../img/AdobeStock_276211407.jpeg);
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-left: 2px dashed #fff;
}
#contact .wrap form .mail_right::before, #contact .wrap form .mail_right::after{
    content: "";
    width: 40px;
    height: 40px;
    background: #708a99;
    border-radius: 50%;
    position: absolute;
    left: -20px;
}
#contact .wrap form .mail_right::before{
    top: -20px;
}
#contact .wrap form .mail_right::after{
    bottom: -20px;
}
#contact .wrap form .mail_right .mail_txt{
    margin: 0 30px 0 30px;
}
#contact .wrap form .mail_right .mail_txt p{
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Chathura', sans-serif;
    margin: 15px;
    color: #fff;
}
#contact .wrap form .mail_right .mail_cont{}
#contact .wrap form .mail_right .mail_cont ul{}
#contact .wrap form .mail_right .mail_cont ul li{
    width: 650px;
}
#contact .wrap form .mail_right .mail_cont ul li .inputbox{}
#contact .wrap form .mail_right .mail_cont ul li .inputbox input{
    width: 90%;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}
#contact .wrap form .mail_right .mail_cont ul li .inputbox textarea{
    width: 90%;
    height: 320px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    resize: none;
}
#contact .wrap form .mail_right .send_mail{
    flex-grow: 1;
    margin: 10px;
    border-left: 2px dashed #fff;
    position: relative;
}
#contact .wrap form .mail_right .send_mail .barcode{
    position: absolute;
    right: 30%;
    height: 4em;
    width: 0;
    transform: rotate(90deg);
    box-shadow: 1px 0 0 1px #fff,
    1px 0 0 1px #fff,
    8px 0 0 1px #fff,
    14px 0 0 1px #fff,
    21px 0 0 1px #fff,
    26px 0 0 1px #fff,
    30px 0 0 1px #fff,
    34px 0 0 1px #fff,
    38px 0 0 1px #fff,
    42px 0 0 1px #fff,
    52px 0 0 1px #fff,
    54px 0 0 1px #fff,
    58px 0 0 1px #fff,
    62px 0 0 1px #fff,
    67px 0 0 1px #fff,
    74px 0 0 1px #fff,
    76px 0 0 1px #fff,
    82px 0 0 1px #fff,
    85px 0 0 1px #fff,
    93px 0 0 1px #fff,
    98px 0 0 1px #fff,
    105px 0 0 1px #fff,
    110px 0 0 1px #fff,
    118px 0 0 1px #fff,
    125px 0 0 1px #fff,
    127px 0 0 1px #fff,
    130px 0 0 1px #fff,
    135px 0 0 1px #fff,
    139px 0 0 1px #fff,
    145px 0 0 1px #fff,
    152px 0 0 1px #fff,
    154px 0 0 1px #fff,
    159px 0 0 1px #fff,
    163px 0 0 1px #fff,
    170px 0 0 1px #fff,
    175px 0 0 1px #fff,
    180px 0 0 1px #fff,
    185px 0 0 1px #fff,
    192px 0 0 1px #fff,
    198px 0 0 1px #fff,
    200px 0 0 1px #fff,
    205px 0 0 1px #fff,
    210px 0 0 1px #fff,
    215px 0 0 1px #fff,
    221px 0 0 1px #fff,
    222px 0 0 1px #fff,
    224px 0 0 1px #fff,
    230px 0 0 1px #fff,
    235px 0 0 1px #fff,
    240px 0 0 1px #fff,
    251px 0 0 1px #fff,
    254px 0 0 1px #fff,
    257px 0 0 1px #fff,
    261px 0 0 1px #fff,
    262px 0 0 1px #fff,
    263px 0 0 1px #fff,
    267px 0 0 1px #fff,
    273px 0 0 1px #fff,
    278px 0 0 1px #fff,
    279px 0 0 1px #fff,
    284px 0 0 1px #fff,
    290px 0 0 1px #fff,
    294px 0 0 1px #fff,
    298px 0 0 1px #fff,
    303px 0 0 1px #fff,
    310px 0 0 1px #fff,
    320px 0 0 1px #fff;
}
#contact .wrap form .mail_right .send_mail .barcode_number{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -112%);
}
#contact .wrap form .mail_right .send_mail .barcode_number p{
    width: 300px;
    transform: rotate(90deg);
    color: #fff;
}
#contact .wrap form .mail_right .send_mail::before, #contact .wrap form .mail_right .send_mail::after{
    content: "";
    width: 40px;
    height: 40px;
    background: #708a99;
    border-radius: 50%;
    position: absolute;
    left: -20px;
}
#contact .wrap form .mail_right .send_mail::before{
    top: -29px;
}
#contact .wrap form .mail_right .send_mail::after{
    bottom: -29px;
}
#contact .wrap form .mail_right .send_mail button{
    padding: 16px 13px;
    background-color: #5981b1;
    color: #fff;
    border: none;
    font-family: 'Chathura', sans-serif;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    border: 1.5px solid #fff;
    font-size: 30px;
    position: absolute;
    bottom: 25px;
    right: 16%;
    text-transform: uppercase;
}
#contact .wrap form .mail_right .send_mail button:hover{
    background-color: #c18d21;
    color: #fff;
}
#contact .wrap form .mail_right .send_mail button{}

#contact .wrap .thankyou_message{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: rgba(0,0,0,0.5);
    display: none;
}
#contact .wrap .thankyou_message article{
    position: absolute;
    max-width: 500px;
    min-width: 300px;
    background-color: #fff;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 0 4px #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#contact .wrap .thankyou_message article h1{
    color: #323232;
    font-size: 24px;
    padding-bottom: 20px;
}
#contact .wrap .thankyou_message article p{
    font-size: 17px;
    color: #323232;
    padding-bottom: 10px;
    border-bottom: 1px solid #323232;
}
#contact .wrap .thankyou_message article .btn_box{
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
    
}
#contact .wrap .thankyou_message article .btn_box a{
    display: inline-block;
    padding: 6px 12px;
    background: #ff0000;
    color: #fff;
    border-radius: 4px;
    font-size: 17px;
}


footer{
    width: 100%;
    text-align: center;
}
footer p{
    font-size: 13px;
    text-transform: uppercase;
    line-height: 40px;
    background-color: #323232;
    color: #fff;
}